<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    {% load static %}
    <link rel="stylesheet" type = "text/css" href="{% static 'css/bootstrap.min.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/theme.css' %}">

    <title>Hello, world!</title>
  </head>
  <body>
  <div class="container-fluid " style="background: url('/static/images/addfriendbg.jpg');background-repeat: no-repeat; background-size: cover; height: 100%; min-height: 100vh;">
    <div class="row">
  
      <div class="col-lg-12" style="padding: 0">
        <div class="topnav" style="display: inline-block; float: right;">
          <ul>
            <li><a href="{%url 'index'%}">Home</a></li>
            <li><a href="{%url 'friendviews'%}">Friend List</a></li>
            <li><a href="{%url 'friendadd'%}">Add Friend</a></li>

          </ul>
        </div>
        
        <div class="friend">
          <h1 style="color:aliceblue;">ADD ME</h1>
        <form method = "post">
          {% csrf_token %}
          {{ form }}
          <br>
          <button type = 'submit'> Add</button>
        </form>
        </div>
        
      </div>
      
      
      </div>
    </div>
   
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script type="text/javascript" src="{% static 'js/jquery.js' %}"></script>

    <script type="text/javascript" src="{% static 'js/popper.js' %}"></script>
    
    <script type = "text/javaScript" src = "{% static 'js/bootstrap.min.js' %}"></script>
  </body>
</html>