<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    {% load static %}
    <link rel="stylesheet" type = "text/css" href="{% static 'css/bootstrap.min.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/theme.css' %}">

    <title>Hello, world!</title>
  </head>
  <body>
    <div class="container-fluid" style="background: url('/static/images/friendbg.jpg');background-repeat: no-repeat; background-size: cover; height: 100%; min-height: 100vh;">
      <div class="topnav" style="display: inline-block; float: right;">
        <ul>
          <li><a href="{%url 'index'%}">Home</a></li>
          <li><a href="{%url 'friendviews'%}">Friend List</a></li>
          <li><a href="{%url 'friendadd'%}">Add Friend</a></li>

        </ul>
      </div>
      <br><br><br>
      <h1 class="friendTitle" style="text-align: center;" > F R I E N D S </h1>
      <div class="d-flex flex-wrap justify-content-center">
        
        <br>
        {% for friend in friendList %}
            <div class="card bg-dark text-white" style="width: 18rem; margin-left:2.5%; margin-right:2.5%; margin-top:2.5% ">
            <div class="card-body">
            <h5 class="card-title">{{ friend.full_name }}</h5>
            <h6 class="card-subtitle mb-2 text-muted">{{ friend.batch_year }}</h6>
            <p class="card-text">Hobby: {{friend.hobby}}</p>
            <p class="card-text">Fav Food: {{friend.favourite_food}}</p>
            <p class="card-text">Fav Drink: {{friend.favourite_drink}}</p>

            </div>
            </div>
        {% endfor %}
      </div>

    </div>


    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script type="text/javascript" src="{% static 'js/jquery.js' %}"></script>

    <script type="text/javascript" src="{% static 'js/popper.js' %}"></script>
    
    <script type = "text/javaScript" src = "{% static 'js/bootstrap.min.js' %}"></script>
  </body>
</html>