<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    {% load static %}
    <link rel="stylesheet" type = "text/css" href="{% static 'css/bootstrap.min.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/theme.css' %}">

    <title>Hello, world!</title>
  </head>
  <body> 
                                                                                                                                                                                                                                                                                               
    <div class="container-fluid">  
      <div class="row">
        <div class="col-lg-6" style="background: url('/static/images/background.png');  background-size:100% 100%; background-repeat: no-repeat; height: 100%;min-height: 100vh;">   
          <img style = "margin-top: 40px; margin-left: 50px; border-radius: 50%;" src=" {% static 'images/line_197466454336658.png' %}" alt="profile" class="img-thumbnail">
          <h1 class="name">R A F A D A N A <br> M O U N T H E I R A</h1>
          <p class = "npm">1 8 0 6 2 4 1 1 3 5</p>
          
          </div>
        <div class="col-lg-6" style="background-color: #232B41; height: 100%;min-height: 100vh;">
          <div class="topnav" style="display: inline-block; float: right;">
            <ul>
              <li><a href="{%url 'index'%}">Home</a></li>
              <li><a href="{%url 'friendviews'%}">Friend List</a></li>
              <li><a href="{%url 'friendadd'%}">Add Friend</a></li>
              <li><a href = "#page2">Contact</a></li>

            </ul>
          </div>
          <img src="{% static 'images/gradhat.png' %}" style="float: left;padding-top: 15%;padding-left: 10px;">
          <p class="ui">Universitas Indonesia</p>
          <br>
          <br>
          <img src="{% static 'images/hobbies-symbol-png-2.png' %}" style="float: left;padding-left: 10px;">
          <p class="hobbydesc">Video games, Futsal</p>
          <br>
          <br>
          <img src="{% static 'images/FAVPNG_clip-art-skill-image-royalty-free_thgQN8ms.png' %}" style="float: left; padding-left: 15px;">
          <p class="hobbydesc">Java, Python</p>
          <br>
          <br>
          <hr style=" border: 2px solid #B7B6B6; width: 65%; float: left; margin-left: 5%;" >
          <br>
          <br>
          <br>
          <p class = desc>Hi! My name is Muhammad Rafadana Mountheira.<br> I was born in 22nd December 2019. Currently, I'm studying Computer Science at Universitas Indonesia</p>
          <br>
          <hr style=" border: 2px solid #B7B6B6; width: 65%; float: right; margin-right: 5%; " >

        
        </div>   
      </div>

      <div class = "row" id="page2">
        <div class = "col-lg-12" style ="height: 100%;min-height: 100vh; background:url('/static/images/contactbackgroundb.jpg'); background-size:cover; background-repeat: no-repeat; border-top: 2px solid white;">
          <h2 class="contact">C O N T A C T</h2>
          <br>
          
          <center>
            <a href="https://www.instagram.com/rafadana12"><img src="{% static 'images/instagramlogo.png' %}" alt="Instagram profile" style="margin-top: 5px; margin-left: 20px; margin-right: 20px;"></a>
            <a href="https://gitlab.com/RafadanaM"><img src="{% static 'images/gitlogo.png' %}" alt="GitLab profile" style="margin-top: 5px; margin-left: 20px; margin-right: 20px;"></a>
            <a href = "https://twitter.com/Rafadanaaa"><img src="{% static 'images/twitlogo.png' %}" alt="Twitter profile" style="margin-top: 5px; margin-left: 20px; margin-right: 20px;"></a>
            <br>
          </center>
          <div class="line"></div>
          <div class="line-right"></div>
          <div class="line-horizontal"></div>
          <div class="line-horizontal-right"></div>

          
        </div>
      </div>
      <div class="row">
        <div class="col-lg-12" style="width: 100vw;">
          
          <a href = "https://youtu.be/dQw4w9WgXcQ?t=1" target="_blank"><img style = "position: fixed; bottom: 0; padding-bottom: 5px; left: 0; padding-left: 5px;" src=" {% static 'images/question.png' %}" alt="What is this?!?!"></a>
          {% include 'copyright.html' %}
        </div>

      </div>

    </div>


    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script type="text/javascript" src="{% static 'js/jquery.js' %}"></script>

    <script type="text/javascript" src="{% static 'js/popper.js' %}"></script>
    
    <script type = "text/javaScript" src = "{% static 'js/bootstrap.min.js' %}"></script>
  </body>
</html>